/購入ボタン
- if user_signed_in?
  = link_to new_item_path do
    .purchase-btn
      %span{class: "purchase-btn__text"}
        出品する
      = image_tag asset_path('icon_camera.png'), class: "purchase-btn__icon"
- else
  = link_to new_user_session_path do
    .purchase-btn
      %span{class: "purchase-btn__text"}
        出品する
      = image_tag asset_path('icon_camera.png'), class: "purchase-btn__icon"