.payjp_create_card {
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 20px auto;
  line-height: 48px;
  background: #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
}
.sold-out-message {
  text-align: center;
  font-size: 24px;
  color: red;
  margin: 20px 0 0 0 ;
  font-weight: bold;
}

