@mixin google-apple-badge() {
  &__apple-store-link {
    width: 180px;
    height: 60px;
    margin-right: 12px;
    &__img{
      width: 100%;
      height: 100%;
    }
    &__img:hover {
      opacity: 0.5;
    }
  }
  &__google-play-link {
    width: 194px;
    height: 60px;
    &__img {
      width: 100%;
      height: 100%;
    }
    &__img:hover {
      opacity: 0.5;
    }
  }
}

.main {
  background: #f8f8f8;
  
  &__visual {
    height: 560px;
    width: 100%;
    background-image: url(material/pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        align-items: center;
        @include google-apple-badge();
      }
    }
  }
  
  &__introduction {
    padding: 60px 20px;
    &__subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__subtitle:after {
      content: "";
      width: 70px;
      height: 4px;
      @include app_main_background-color();
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          &__number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            @include app_main_background-color();
            color: #fff;
          }
          &__img {
            width: 100%;
            vertical-align: bottom;
          }
        } 
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            @include app_main_color();
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      &__list-last {
        margin: 16px 0 0;
      }
    }
  }
  
  &__middle-dl {
    background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        align-items: center;
        @include google-apple-badge();
      }
    }
  }

  &__key-features {
    padding: 60px 100px;
    background-color: #fff;
    &__subtitle {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__subtitle:after {
      content: "";
      width: 70px;
      height: 4px;
      @include app_main_background-color();
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          vertical-align: bottom;
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  &__pickup {
    padding-bottom: 80px;
    &__subtitle {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }    
    &__product {
      &__head {
        text-align: center;
        &__link {
          font-size: 24px;
          text-decoration: none;
          @include app_main_color();
          &__title {
            font-weight: bold;
          }
        }
      }
      &__lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__list {
          width: 220px;
          display: inline-block;
          &__link {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            &__img {
              width: 220px;
              height: 150px;
              overflow: hidden;
              margin: 0;
              object-fit: cover;
            }
            &__body {
              background-color: white;
              color: #333;
              padding: 16px;
              &__name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 12px;
                text-align: left;
                font-weight: bold;
              }
              &__details {
                font-size: 12px;
                font-weight: bold;
                &__lists {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  &__list {
                    .favorite-icon {
                      display: inline-block;
                      font-size: inherit;
                    }
                  }
                }
                &__include-tax {
                  font-size:8px;
                  font-weight: normal;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

.app-banner {
  background-image: url(material/pict/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      @include google-apple-badge();
    }
  }
}