a {
  .purchase-btn {
    width: 120px;
    @include app_main_background-color();
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__icon {
      width: 60%;
    }
  }
}