* {
  box-sizing: border-box;
}

@mixin app_main_color() {
  color: #3CCACE;
}

@mixin app_main_background-color() {
  background-color: #3CCACE;
}

@mixin font_property($color: #fff, $fSize: 16px) {
  color: $color;
  font-size: $fSize;
} 