* {
  box-sizing: border-box;
}

@mixin app_main_color() {
  color: #3CCACE;
}

@mixin app_main_background-color() {
  background-color: #3CCACE;
}

@mixin font_property($color: #fff, $fSize: 16px) {
  color: $color;
  font-size: $fSize;
} 

// 仕切りの線
@mixin partition-border() {
  .partition {
    border-top: 1px solid #efefef;
    border-left: 0 solid #efefef;
    border-bottom: 0 solid #efefef;
    border-right: 0 solid #efefef;
  }
}

// 入力必須項目と必須マーク
@mixin mandatory-field() {
  &__title {
    display: flex;
    &__name {
      font-size: 14px;
      font-weight: 600;
    }
    &__tag {
      margin-left: 8px;
      font-size: 12px;
      padding: 0 4px;
      background-color: #ff0211;
      color: #fff;
      border-radius: 2px;
      display: inline-block;
      font-weight: 600;
      text-align: center;
    }
  }
}

// 入力任意項目、任意マーク
@mixin optional-item() {
  &__title {
    display: flex;
    &__name {
      font-size: 14px;
      font-weight: 600;
    }
    &__tag-optional {
      margin-left: 8px;
      font-size: 12px;
      padding: 0 4px;
      color: rgb(255, 255, 255);
      background: rgb(204, 204, 204);
      border-radius: 2px;
      display: inline-block;
      font-weight: 600;
      text-align: center;
    }
  }
}

// テキスト（文字、数字）入力欄 text型
@mixin input-text-field() {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 48px;
  padding: 0 16px;
  width: 100%;
}

// 送信ボタン メインカラー
@mixin submit-btn() {
  @include app_main_background-color();
  color: #fff;
  width: 100%;
  font-size: 17px;
  height: 48px;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 600;
  text-align: center;
}