
.header {
  height: 128px;
  &__content {
    &__logo {
      text-align: center;
      line-height: 128px;
      padding-right: 20px;
      padding-top: 30px;
      &__image {
        height: 50px;
        width: 185px;
      }
    }
  }
}

.contents {
  background-color: #f5f5f5;
  height: calc(100vh - 128px - 220px);
  width: 700px;
  margin: 0 auto;
  &__menu {
    padding: 40px;
    color:#000;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
  }
  &__btn {
    display: block;
    border-radius: 4px;
    height: 50px;
    width :343px;
    margin:0 auto 20px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    &--icon {
      padding-right:10px;
    }
    &--mail {
      background-color: #ea352d;
    }
    &--facebook {
      background-color: #385185;
    }
    &--google {
      background-color: #fff;
      color: black;
      border:#979797 solid 1px;
    }
  }
}

.footer {
  background-color: #fff;
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 10px 0;
  &__content{
    ul {
     display: flex; 
     justify-content: space-around;
      li {
          a {
            text-decoration: none;
            color: darkgray;
            font-size: 12px;
          }
      }
    }
    &__logo {
      text-align: center;
      line-height: 128px;
      padding-top: 30px;
      &__image {
        height: 40px;
        width: 100px;
      }
    }
    p {
      text-align: center;
    }
  }
}